.admin_title_link
{
	font: bold 17px Arial;
	color: #0066A4;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

div.label
{
    float: left;
    width: 100px;
}

div.buttons.indent
{
    margin-left: 100px;
}

img.photo
{
    width: 80px;
}

p.photo
{
    text-align:center;
    margin: 0px;
}