.admin_title_link
{
	font: bold 17px Arial;
	color: #0066A4;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

div.label
{
    float: left;
    width: 140px;
    font-size: 100%;
    color: #000000;
    text-align: left;
}

div.buttons.indent
{
    margin-left: 140px;
}

img.photo
{
    width: 80px;
}

p.photo, p.icon
{
    text-align:center;
    margin: 0px;
}

.grid-view .is_show_small {
    margin: 9px;
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url(../data/i/is_show_small.png) 0 0;
    cursor: pointer;
}

.grid-view .is_show_small.false{
    background-position: 0 18px;
}

.grid-view .is_show {
    margin: 9px;
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url(../data/i/is_show.png) 0 0;
    cursor: pointer;
}

.grid-view .is_available {
    margin: 9px;
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url(../data/i/is_available.png) 0 0;
    cursor: pointer;
}

.grid-view .is_new {
    margin: 9px;
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url(../data/i/is_new.png) 0 0;
    cursor: pointer;
}

.grid-view .is_sale {
    margin: 9px;
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url(../data/i/is_sale.png) 0 0;
}

.grid-view .is_show.false, .is_new.false, .is_sale.false ,.is_available.false{
    background-position: 0 50px;
}

input[type=file] {
    display: inline !important;
}

.size{
    padding: 0px 140px;
}

.size .row {
    padding: 0px 5px !important;
    float: left;
    background-color: #d5d5d5;
}

.sale .row .label,  .uni_size .row .label{
    padding-top: 8px;
}

.sale .row,  .uni_size .row{
    background-color: #d5d5d5;
    width: 310px;
    padding: 3px 0;
}

.sale, .uni_size {
    padding: 0px 140px;
}

.sale, .uni_size .input {
    position: absolute;
    left: 335px;
}

ul.yiiPager a:link {
    padding: 5px 14px !important;
}

h1 {
    margin-bottom: 10px !important;
    margin-top: 0 !important;
}