body.main {
    margin: 0;
    font-size: 14px;
    line-height: 1.1;
    font-family: Arial,sans-serif;
}

.page {
    background: #eee;
    min-width: 1060px;
    min-height: 100%;
    margin-bottom: -391px;
    box-sizing: border-box;
}

.header
{
    display: inline-block;
    min-width: 100%;
    background: #eee;
    text-align: center;
    margin-bottom: 0px;
}

.footer {
    padding: 10px;
    margin: 10px 20px;
    font-size: 0.8em;
    text-align: center;
}

.page .header .menu
{
    z-index: 11;
    display: block;
    width: 100%;
    min-width: 960px;
    height: 30px;
    position: relative;
    background: #ad231f;
    white-space: nowrap;
    text-align: right;
    min-height: 20px;
    border: 0px;
}

.menu .container-fluid
{
    width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    background: #ad231f;
    text-align: left;
    height: inherit;
}

.menu .container-fluid .menu__list a
{
    height: 30px;
    padding: 6px 46px 7px;
    color: #fff;
}

.menu .container-fluid .menu__list .active a, .menu .container-fluid .menu__list .active a:hover
{
    background-color: #c54743;
    color: #fff;
}

.menu .container-fluid .menu__list a:hover
{
    color: #fff;
    background-color: #8d5b62;
}

.menu .container-fluid .menu__list .open a.dropdown-toggle
{
    color: #fff;
    background-color: #8d5b62;
}

.menu .container-fluid .menu__list .dropdown-menu a
{
    color: #000000;
}

.menu .container-fluid .menu__list .dropdown-menu a:hover
{
    color: #ff3d00;
    background-color: #ffffff;
}

.banner__title, .banner__description {
    width: 100%;
    position: absolute;
    top: 6px;
    left: 0;
    text-align: center;
    font: 22px Arial;
    color: #000;
}

.banner__description {
    top: 34px;
    font: 15px Arial;
    color: #000;
}

.banner__link:hover .banner__title {
    color: #ff3d00;
}

.banner__link:hover .banner__description {
    color: #ff3d00;
}

.carousel-inner>.item>img {
    width: 940px;
    height: 400px;
}

.panel-title>a {
    top: 6px;
    left: 0;
    text-align: center;
    font: 22px Arial;
    color: #000;
}

.panel-title>a:hover {
    color: #ff3d00;
    text-decoration: none;
}

.panel {
    border: 0px !important;
    box-shadow: none !important;
}

.panel-group .panel-heading+.panel-collapse .panel-body {
    border-top: 0px !important;
}

.panel-group {
    margin-bottom: 0px !important;
}

.header__content
{
    z-index: 12;
    display: inline-block;
    min-height: 91px;
    position: relative;
}

.header__logo
{
    display: block;
    position: absolute;
    top: 20px;
    left: 20px;
    width: 171px;
    height: 56px;
    background: url('../data/i/logo.png') 0 0 no-repeat;
}

.header__inner {
    display: table;
    min-width: 670px;
    margin: 0 20px 0 248px;
    padding-top: 32px;
}

.header__phone {
    display: table-cell;
    min-width: 230px;
    height: 24px;
    padding-top: 6px;
    vertical-align: top;
    text-align: center;
    font-size: 15px;
    line-height: 17px;
    padding-left: 90px;
}

.header__phone-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: -6px 4px 0 0;
    vertical-align: top;
    background: url('../data/i/phone.png') 0 0 no-repeat;
}

.header__socials {
    display: table-cell;
    min-width: 230px;
    height: 24px;
    padding-top: 6px;
    vertical-align: top;
    text-align: right;
    font-size: 15px;
    line-height: 17px;
}

.header__social-item {
    display: inline-block;
    width: 23px;
    height: 23px;
    margin: -5px 0 0 7px;
    vertical-align: top;
    background: url('../data/i/socials.png') 0 0 no-repeat;
}

.header__social-item_vk:hover {
    background-position: 0 -26px;
}

.header__social-item_ok {
    background-position: -26px 0;
}

.header__social-item_ok:hover {
    background-position: -26px -26px;
}

.content {
    width: 960px;
    margin: 0 auto;
    background-color: #fff;
}

.banners {
    background: #fff;
    padding: 10px;
    margin-bottom: 5px;
    overflow: hidden;
}

.banners__item {
    width: 306px;
    height: 379px;
    float: left;
    margin-right: 0;
    position: relative;
}

.item__first {
    margin-right: 11px;
}

.item__last {
    float: right;
}
.catalog {
    padding-left: 12px;
}

.catalog__item {
    display: inline-block;
    width: 225px;
    margin: 0 9px 10px 0;
    position: relative;
    vertical-align: top;
    background: #fff;
}

.catalog__item__link {
    cursor: pointer;
    color: #000;
    display: block;
    z-index: 2;
    position: relative;
}

.catalog__item__link:hover {
    text-decoration: none;
}

.catalog__item .catalog__item__label{
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
}

.catalog__item__label {
    display: inline-block;
    line-height: 17px;
    background: #ff3d00;
    border-radius: 3px;
    padding: 0 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.15);
    text-shadow: 0 -1px 0 rgba(0,0,0,.2);
    color: #fff;
    font-family: Arial;
    font-size: 11px;
    letter-spacing: .09em;
}

.catalog__item__img {
    display: block;
    width: 225px;
    height: 300px;
    position: relative;
    z-index: 1;
}

.catalog__item__article {
    color: #999;
    margin: 8px 0 0;
    line-height: 17px;
    position: relative;
    z-index: 1;
}

.catalog__item__link:hover .catalog__item__article {
    color: #ff3d00;
    font-weight: 700;
}

.catalog__item .price {
    z-index: 2;
    line-height: 17px;
}

.price {
    font-weight: 700;
    color: #000;
    position: relative;
    z-index: 1;
}

.price__old {
    text-decoration: line-through;
    color: #999;
    font-weight: 400;
    margin-right: .3em;
}

.price__new {
    color: #ff3d00;
    white-space: nowrap;
}

.catalog__head {
    padding-right: 20px;
    padding-left: 20px;
    margin-left: -20px;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
    padding-top: 5px;
}

.catalog__sort {
    float: right;
    margin-top: 5px;
}

.catalog__cont {
    font-size: 22px;
    font-weight: 400;
    margin: 5px 0;
    color: #27292c;
    line-height: 30px;
}

.catalog__sort .dropdown-toggle {
    height: 25px;
    background: linear-gradient(to bottom,#fff,#efefef);
    border: 1px solid #d5d5d5;
    border-top-color: #ddd;
    border-radius: 3px;
    margin-left: 9px;
    padding: 0 8px;
}

.order_menu .dropdown-menu>li>a:hover{
    background-color: #8d5b62 !important;
    color: #ffffff !important;
}

.order_menu .dropdown-menu>li.active>a{
    background-color: #ddd;
    color: #000;
}