.content a {
    color: #9e3c5d;
    text-decoration: none;
    cursor: pointer;
}
.content a:hover {
    color: #ff3d00;
    text-decoration: none;
}
.header__inner {
    display: table;
    padding-bottom: 10px;
    width: auto;
    min-width: 545px;
    margin: 0 20px 0 400px;
    float: right;
    padding-top: 25px;
}

.main .navbar {
    border-radius: 0;
}
.navbar-collapse>.nav>li>a {
    padding: 2px 10px;
}
.navbar-collapse .navbar-nav {
    margin: 0;
}
.menu .container-fluid .menu__list {
    text-align: center;
    float: none;
}
.menu .container-fluid .menu__list a
{
    padding-top: 6px;
    height: 30px;
}
.menu .container-fluid .menu__list li {
    display: inline-block;
    float: none;
    width: 14.5%;
}

.menu .container-fluid
{
    text-align: center;
    margin: 0 auto;
    padding: 0 20px;
    background: #ca0600;
    width: 960px;
}

.main .carousel-caption{
    background-color: white;
    opacity: 0.7;
    color: #000000;
    text-shadow: none;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 30px;
    border-radius: 50px;
    bottom: 20px;
}
.carousel-caption h3 {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.carousel-caption p {
    margin: 0 0 10px;
    font-size: 14px;
}

.main .carousel-indicators {
    bottom: 10px !important;
}

.banners__item {
    position: relative;
    margin: 0 auto;
    width: 33.3%;
    padding: 0 2px;
    float: left;
}

.banner__title {
    font-size: 22px;
    top: 6px;
}

.banner__description {
    font-size: 15px;
    top: 34px;
}

.catalog__item {
    padding: 6px 6px 0;
    float: left;
    position: relative;
    vertical-align: top;
    background: #fff;
    width: 25%;
}
.catalog__cont {
    font-size: 22px;
    font-weight: bold;
    margin: 5px 0;
    color: #27292c;
    line-height: 30px;
}
.form-control{
    padding: 2px 6px !important;
}

.order h2 {
    font-size: 22px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body.main {
    margin: 0;
    font-size: 14px;
    line-height: 1.1;
    font-family: Arial,sans-serif;
}
body.main.modal-open {
    padding-right: 17px;
}
.page {
    background: #eee;
    /*background: url('../data/i/backgr.png') 0 0 repeat;*/
    min-width: 330px;
    min-height: 100%;
    margin:0 auto -60px;
}

* html .page {
    height: 100%;
}

.clear {
    height: 60px;
}

.error {
    padding: 30px 50px 90px 64px;
    width: 100%;
    font-size: 16px;
}

.error h1 {
    font-size: 48.5px;
    letter-spacing: -3px;
    font-weight: 700;
    margin-bottom: 30px;
}


.error h2 {
    font-size: 48.5px;
    letter-spacing: -3px;
    color: rgba(0, 0, 0, .2);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
    margin-bottom: 20px;
}

.header
{
    display: inline-block;
    width: 100%;
    background: #eee;
    text-align: center;
    margin-bottom: 0px;
}

.footer {
    padding: 20px;
    font-size: 0.8em;
    text-align: center;
    /*background: #eee;*/
}

.page .header .menu
{
    z-index: 11;
    display: block;
    width: 100%;
    position: relative;
    background: #ca0600;
    white-space: nowrap;
    text-align: right;
    min-height: 20px;
    border: 0px;
    margin-bottom: 20px;
}

.menu .container-fluid .menu__list a
{
    color: #fff;
}

.menu .container-fluid .menu__list .active a,
.menu .container-fluid .menu__list .active a:hover,
.menu .container-fluid .menu__list .active a:focus
{
    background-color: #A80500;
    color: #fff;
}

.menu .container-fluid .menu__list .open a.dropdown-toggle, .menu .container-fluid .menu__list a:hover
{
    color: #fff;
    background-color: #9e3c5d;
}

.menu .container-fluid .menu__list .dropdown-menu a
{
    color: #000000;
}

.menu .container-fluid .menu__list .dropdown-menu a:hover
{
    color: #ff3d00;
    background-color: #ffffff;
}

.banner__title, .banner__description {
    width: 100%;
    position: absolute;
    left: 0;
    text-align: center;
    color: #333;
}

.banner__description {
    color: #333;
}

.banner__link:hover .banner__title, .banner__link:hover .banner__description {
    color: #ff3d00;
}

.carousel-inner>.item>img {
    width: 940px;
    height: 400px;
}
.content a.carousel-control,
.content a.carousel-control:hover {
    color: #fff;
}

.panel-title>a {
    top: 6px;
    left: 0;
    text-align: center;
    font: 18px Arial;
    color: #000;
}

.panel {
    border: 0px !important;
    box-shadow: none !important;
}

.panel-group .panel-heading+.panel-collapse .panel-body {
    border-top: 0px !important;
}

.panel-group {
    margin-bottom: 0px !important;
}

.header__content
{
    display: inline-block;
    min-height: 91px;
    padding-left: 5px;
}

.header__logo
{
    width: 323px;
    height: 56px;
    background: url('../data/i/logo.png?1') 0 0 no-repeat;
    position: absolute;
    top: 20px;
    display: block;
    margin: 0 auto;
}

.header__contact {
    display: table-cell;
    vertical-align: top;
    font-size: 15px;
    line-height: 17px;
}

.header__contact_item_right {
    margin: 10px 0px 0px 14px;
}

.header__phone-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: -6px 4px 0 0;
    vertical-align: top;
    background: url('../data/i/phone.png?1') 0 0 no-repeat;
}

.header__social-item {
    display: inline-block;
    width: 23px;
    height: 23px;
    margin: -5px 0 0 7px;
    vertical-align: top;
    background: url('../data/i/socials.png?2') 0 0 no-repeat;
}

.header__social-item_vk:hover {
    background-position: 0 -26px;
}

.header__social-item_ok {
    background-position: -26px 0;
}

.header__social-item_ok:hover {
    background-position: -26px -26px;
}

.header__social-item_ig {
    background-position: -52px 0;
}

.header__social-item_ig:hover {
    background-position: -52px -26px;
}

.content {
    width: 960px;
    margin: 0 auto;
    background-color: #fff;
    max-width: 100%;
}

.banners {
    background: #fff;
    padding: 10px;
    overflow: hidden;
    margin-bottom: 5px;
}

.banners__item .banner__link .banner__img{
    width: 100%;
    padding: 0 3px;
}

.catalog .empty {
    font-size: 18px;
    text-align: center;
    margin: 20px 0;
}

.catalog__item__link {
    cursor: pointer;
    color: #000;
    display: block;
    z-index: 2;
    position: relative;
    border: 1px solid #fff;
    padding-bottom: 8px;
    width: 223px;
}

.catalog__item__link:hover,
.catalog__item__link.selected {
    text-decoration: none;
    border: 1px solid #d9d9d9;
    box-shadow: 0 0 4px #d9d9d9;
}

.catalog__item__link:hover .basket-button,
.catalog__item__link:hover .size,
.catalog__item__link.selected .basket-button,
.catalog__item__link.selected .size {
    display: block;
}

.item__label {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    display: inline-block;
    line-height: 17px;
    background: #ff3d00;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.15);
    text-shadow: 0 -1px 0 rgba(0,0,0,.2);
    color: #fff;
    font-family: Arial;
    font-size: 14px;
    font-weight: 700;
    padding: .04em .4em .18em .4em;
}

.item__label_new {
    background: #3AA73A;
}

.item__label_new_catalog {
    background: #3AA73A;
    font-size: 11px;
    letter-spacing: .09em;
    padding: 0 5px;
    font-weight: normal;
}

.catalog__item__img {
    display: block;
    position: relative;
    z-index: 1;
}

.catalog__item__article {
    color: #999;
    margin: 8px 10px 0;
    line-height: 17px;
    position: relative;
    z-index: 1;
}

.catalog__item__link:hover .catalog__item__article,
.catalog__item__link.selected .catalog__item__article {
    color: #ff3d00;
    font-weight: 700;
}

.catalog__item .price {
    z-index: 2;
    line-height: 17px;
    margin-left: 10px;
}

.price {
    font-weight: 700;
    color: #000;
    position: relative;
    z-index: 1;
}

.price__old {
    text-decoration: line-through;
    color: #999;
    font-weight: 400;
    margin-right: .3em;
}

.price__new {
    color: #ff3d00;
    white-space: nowrap;
}

.catalog__head {
    padding-right: 20px;
    padding-left: 20px;
    margin-left: -8px;
    border-bottom: 5px solid #eee;
    margin-bottom: 6px;
    padding-top: 5px;
}

.catalog__dd {
    float: right;
    margin-top: 9px;
    font-weight: bold;
}

.catalog__dd .dropdown-toggle, .form button.btn-default {
    height: 25px;
    background: linear-gradient(to bottom,#fff,#efefef);
    border: 1px solid #d5d5d5;
    border-top-color: #ddd;
    border-radius: 3px;
    padding: 0 8px;
}

.order_menu .dropdown-menu>li>a:hover,
.size_menu .dropdown-menu>li>a:hover {
    background-color: #9e3c5d;
    color: #ffffff;
}

.order_menu .dropdown-menu>li.active>a,
.size_menu .dropdown-menu>li.active>a {
    background-color: #ddd;
    color: #000;
}

.table__column {
    vertical-align: top;
    display: table-cell;
}

.table__column_right {
    width: 60%;
}

.model {
    background: #eee;
}

.model__img {
    display: block;
    width: 360px;
    height: 480px;
    position: relative;
    z-index: 1;
}

.model_title {
    border: 1px solid #eee;
    border-width: 0 1px 1px 0;
    padding: 20px 16px 20px 20px;
    overflow: hidden;
}

.table__table {
    display: table;
    border-spacing: 0 5px;
    background: #eee;
    width: 100%;
}

.table__row {
    display: table-row;
    background-color: white;
}

.table__cell {
    padding: 20px 16px 20px 20px;
}

.table__cell .social {
    padding: 0px 0px 5px;
    text-align: center;
}

.table__cell_flat {
    padding: 0;
    position: relative;
}

.main .social-likes__widget {
    border-radius: 3px;
    margin: .5em;
}

.model_photo a {
    width: 100% !important;
}

.model_header {
    padding: 20px 16px 20px 20px;
    overflow: hidden;
}

.model_header__title {
    font-weight: 400;
    margin: 0;
    color: #9e3c5d;
    font-size: 24px;
    line-height: 30px;
}

.model_header__title-article {
    font-size: 15px;
    line-height: 17px;
    padding: 10px 0;
}

.model_detail {
    padding: 20px 16px 20px 20px;
    position: relative;
    min-height: 148px;
}

.model__price {
    margin: 0 0 20px 0;
}

.size {
    padding-bottom: 15px;
}
.size_error {
    border: 3px solid #ff9e34;
    padding: 10px;
    margin-bottom: 10px;
}
.size__title {
    font-size: 20px;
    padding-bottom: 15px;
}
.size_error__title {
    font-size: 20px;
    padding-bottom: 15px;
    color: #ff9e34;
    display: none;
}
.size_error .size_error__title {
    display: block;
}
.size__table-link {
    display: inline-block;
    padding: 0;
    color: #9e3c5d;
    font-size: 15px;
}

.button {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    height: 25px;
    position: relative;
    margin: 0;
    padding: 0 8px;
    border: 1px solid #d5d5d5;
    border-top-color: #ddd;
    border-bottom-color: #cdcdcd;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
    font-size: 13px;
    line-height: 23px;
    font-family: Arial,Helvetica,sans-serif;
    text-decoration: none;
    cursor: pointer;
    overflow: visible;
    outline: 0;
    background: #f5f5f5;
    background: -webkit-linear-gradient(top,#fff,#efefef);
    background: -moz-linear-gradient(top,#fff,#efefef);
    background: -o-linear-gradient(top,#fff,#efefef);
    background: linear-gradient(to bottom,#fff,#efefef);
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-appearance: none;
}

.size-chooser__list .button {
    min-width: 33px;
    text-align: center;
    margin: 0 10px 10px 0;
    vertical-align: top;
    padding: 0;
}

.price_model {
    font-size: 22px;
    font-weight: 400;
}

.button.button_pressed,
.button.button_pressed:hover,
.button.button_pressed:active{
    height: 25px;
    border-color: #d7852b #eb912f #ff9e34;
    -webkit-box-shadow: inset 0 2px 4px 0 rgba(0,0,0,.2);
    -moz-box-shadow: inset 0 2px 4px 0 rgba(0,0,0,.2);
    box-shadow: inset 0 2px 4px 0 rgba(0,0,0,.2);
    background: #ff9e34;
    color: #fff;
}
.auth_button {
    border: none;
    background: none;
}
.breadcrumbs {
    background: #fff;
    font-size: 13px;
    line-height: 16px;
    white-space: nowrap;
    overflow: hidden;
}

.breadcrumbs__item:link {
    background: url('../data/i/breadcrumbs_link.png') no-repeat 100% 0;
}

.breadcrumbs__item {
    display: inline-block;
    position: relative;
    margin-right: -10px;
    padding: 7px 25px 7px 18px;
    vertical-align: top;
    color: #bbb;
}

.modal-body {
    display: inline-block;
    width: 100%;
}

.modal-content table {
    width: 100%;
    margin-bottom: 20px;
    border-spacing: 0;
    border-collapse: collapse;
}

.modal-content th {
    text-align: left;
}

.modal-content th, .modal-content td {
    vertical-align: middle;
    border-bottom: 1px solid #999;
    color: #474747;
    padding: 10px;
    font-size: 12px;
}

.modal-content table thead th {
    color: #fff;
    background-color: #666;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    border-left: 1px #999 solid;
}

.modal-content .h2 {
    font-size: 22px;
    font-weight: 400;
    margin: 0 0 15px 0;
    color: #27292c;
    line-height: 30px;
    margin-top: -5px;
}

#size_tab .modal-dialog {
    width: 800px;
}

.modal-content td {
    border-left: 1px solid #999;
    text-align: center;
}

.one_size, .modal-content tr.size-tab__select th, .modal-content tr.size-tab__select td, .modal-content td.size-tab__select {
    background-color: #f5f5f5;
    font-weight: 700;
}
.contact, .order {
    padding: 40px;
}

.contacts__title {
    font-weight: 700;
    line-height: 27px;
}

.gis_map {
    width:100%;
    height:300px;
    margin-bottom: 21px;
}

.contact h1, .order h1 {
    color: #27292c;
    margin: -26px 0 26px;
    border-bottom: 5px solid #9e3c5d;
    font-size: 37px;
    line-height: 100px;
}

.price-button {
    float: right;
    width: 300px;
    cursor: pointer;
    margin-top: 43px;
    margin-right: 15px;
}

.list__item:before {
    content: '\2014\a0';
}

.list_shopping .red {
    color: #ca0600;
    font-weight: 700;
}

.list {
    margin: 0 0 17px 0;
    padding: 0;
    list-style: none;
}

.list__item {
    padding-left: 18px;
    text-indent: -17px;
    margin-bottom: 7px;
}

.order {
    font-size: 13px;
    line-height: 1.35;
    font-family: Arial,sans-serif;
}

.hint-link {
    cursor: pointer;
}

.hint__icon-shipping,
.hint__icon-payment {
    width: 60px;
    height: 60px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.hint__icon-shipping {
    background: url('../data/i/shipping.png') no-repeat 100% 0;
}
.hint__icon-payment {
    background: url('../data/i/payment.png') no-repeat 100% 0;
}
.hint__icon-price {
    width: 60px;
    height: 60px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    background: url('../data/i/price.png') no-repeat 100% 0;
}

.hint__title {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    color: #AC5770;
    font-size: 14px;
}

.hint-link:hover>div.hint__icon-price {
    background-position: 0 -60px;
}

div.content .row {
    position: relative;
    margin: 0 0 -10px 120px;
}
div.content .row:last-child {
    padding-bottom: 20px;
}
.row label {
    position: absolute;
    top: 10px;
    left: -120px;
    font-weight: 700;
}

.form-control:focus {
    border-color: #ff905b !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 130, 87, 0.60) !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 159, 125, 0.60) !important;
}

div.form span.required {
    color: #ff3d00 !important;
    padding: 0 2px;
}

div.form input, div.form textarea, div.form select {
    margin: 0.2em 0 0.5em 0;
}

.has-error div.help-block {
    padding: 0;
    font-size: 13px;
}

.has-error label.error {
    padding: 0;
}

.model_desc {
    font-size: 13px;
}

.model_desc p {
    font-size: 13px;
    line-height: 1.35;
}

.model_desc table {
    margin-bottom: 0;
}

.model_desc table th {
    padding: 10px 0;
}

.panel-body a, a.link {
    color: #9e3c5d;
    cursor: pointer;
}

.panel-title>a:hover, .panel-body a:hover,
a.link:hover, a.breadcrumbs__item:hover,
.hint-link:hover>.hint__title,
.size__table-link:hover {
    color: #ff3d00;
    text-decoration: none;
}

.panel-title p {
    float: right;
    font-size: 14px;
    padding-top: 5px;
}

h3.news {
    margin-left: 15px;
    margin-top: 0px;
}

.social-likes {
    padding: 5px 5px 0px !important;
    margin: 0px 0px !important;
}

.navbar-header .navbar-toggle {
    padding: 5px 20px;
    margin: 0;
    background-color: #A80500;
    border: 0;
    border-radius: 0px;
    color: #ffffff;
    float: none;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #ff3d00 !important;
    color: #ffffff !important;
}

.catalog__data {
    padding: 6px;
    padding-top: 0;
    overflow: hidden;
}

.not_available {
    font-size: 18px;
    color: gray;
    padding-top: 10px;
}

.not_available_small {
    color: gray;
}

.basket-button {
    z-index: 3;
    margin-right: -5px;
    box-shadow: 2px 3px 10px rgba(0,0,0,.2);
    overflow: visible;
}

.button_blue {
    border: 1px solid #9e3c5d;
    border-top-color: #ac6174;
    border-bottom-color: #8c3651;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15);
    background: #ac6174;
    background: -webkit-linear-gradient(top, #ac6174,#9e3c5d);
    background: -moz-linear-gradient(top,#ac6174,#9e3c5d);
    background: -o-linear-gradient(top,#ac6174,#9e3c5d);
    background: linear-gradient(to bottom,#ac6174,#9e3c5d);
}

.button_big {
    height: 29px;
    padding: 0 10px;
    font-size: 15px;
    line-height: 27px;
}

.user-nav__favorites {
    display: inline-block;
    display: none;
    float: left;
    margin-right: -1px;
}

.basket-button .button__icon {
    width: 16px;
    height: 16px;
    margin: -5px 2px 0 0;
    background: url(../data/i/basket.png) no-repeat;
}

.button_blue,
.button_blue .button__title {
    color: #fff;
}

.button__title {
    display: inline-block;
    height: 100%;
    position: relative;
    color: #333;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.user-nav__sign-in {
    display: inline-block;
    position: relative;
    vertical-align: top;
}

.user-nav_signed .user-nav__prefs {
    display: inline-block;
    margin-right: -1px;
}

.user-nav__user .button__icon {
    width: 16px;
    height: 17px;
    margin-left: 0;
    background: url(../data/i/user.png) no-repeat;
}

.button:hover, .button:active {
    background: #f2f2f2;
    background: -webkit-linear-gradient(top,#fff,#e7e7e7);
    background: -moz-linear-gradient(top,#fff,#e7e7e7);
    background: -o-linear-gradient(top,#fff,#e7e7e7);
    background: linear-gradient(to bottom,#fff,#e7e7e7);
    text-decoration: blink;
}

.basket-button:active {
    box-shadow: 0 0 0 2px rgba(255,215,119,.3),inset 0 1px 4px rgba(0,0,0,.25);
    background: -webkit-linear-gradient(top,#ac6174, #85364a);
    background: -moz-linear-gradient(top,#ac6174, #85364a);
    background: -o-linear-gradient(top,#ac6174, #85364a);
    background: linear-gradient(to bottom,#ac6174, #85364a);
    text-decoration: blink;
}

.button_blue:hover {
    background: #c37689;
    background: -webkit-linear-gradient(top,#c37689,#9e3c5d);
    background: -moz-linear-gradient(top,#c37689,#9e3c5d);
    background: -o-linear-gradient(top,#c37689,#9e3c5d);
    background: linear-gradient(to bottom, #c37689,#9e3c5d);
    text-decoration: blink;
}

.user-nav__sign-in {
    display: inline-block;
    position: relative;
    vertical-align: top;
}

.main a:focus {
    text-decoration: blink;
}

.user-nav_signed .user-nav__user, .user-nav_signed .user-nav__prefs {
    display: inline-block;
}

.user-nav__user {
    display: none;
    float: left;
    margin-right: -1px;
}

.user-nav_signed .user-nav__prefs {
    display: inline-block;
}

.button__icon {
    display: inline-block;
    vertical-align: middle;
    margin: 5px 0 0 -4px;
}

.catalog__item .basket-button {
    float: right;
    bottom: 12px;
    right: 14px;
    height: 26px;
    display: none;
}

.catalog__item .basket-button .button__icon {
    margin: 4px 0 0 0px;
}

.catalog__item .size_error__title {
    font-size: 16px;
    color: #ff3d00;
    position: absolute;
    top: -22px;
    right: 3px;
    font-weight: bold;
    min-width: 126px;
}

.catalog__item .size {
    height: 30px;
    bottom: 50px;
    z-index: 10;
    position: absolute;
    right: 0;
    padding-right: 5px;
    padding-left: 5px;
    text-align: right;
    display: none;
}

.catalog__item .size.size_error {
    border: 3px solid #ff3d00;
    padding: 3px 2px 3px 3px;
    height: 36px;
    margin-bottom: 0;
}

.catalog__item .sizes .size_button {
    padding: 0 4px;
    opacity: 0.5;
}

.catalog__item .sizes .size_button.button_pressed {
    opacity: 1;
}

.button_right {
    border-radius: 0 3px 3px 0;
}

.button_left {
    border-radius: 0;
}


.user-nav_signed {
    text-align: right;
    margin-top: 5px;
}

.header__content
{
    width: auto;
}
.banner__title {
    font-size: 22px;
}
.banner__description {
    font-size: 15px;
}
.model .table__column_left {
    width: 40%;
    padding-right: 10px;
}
.size .button {
    margin-right: 5px;
    padding: 0 8px;
}
.catalog__item .size .button {
    margin-right: 0;
    margin-bottom: 2px;
}
.MagicZoomBigImageCont{
    width: 154% !important;
    left: 103% !important;
}
.contacts-address {
    width: 50%;
}
.contacts {
    margin-bottom: 27px;
    line-height: 1.5;
}
.hint {
    float: right;
    margin-top: -80px;
    margin-right: 15px;
}
.row input {
    display: inline-block;
    position: relative;
    width: 50%;
}
.catalog__head .clear,
.new-order .clear {
    height: auto;
}

/* Cart */

.cart-list {
    margin: 0 20px;
}
.cart-list__head {
    padding: 18px 20px 13px;
    background: #fff;
    text-align: right;
    font-weight: 700;
}
.cart-list__content {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.cart-item {
    position: relative;
    margin-top: 1px;
    background: #fff;
    text-align: right;
    white-space: nowrap;
    line-height: 17px;
}
.cart-item:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
}
.cart-item__cell_chb-select,
.cart-item__cell_description,
.cart-item__cell_photo {
    float: left;
}
.cart-item__cell_photo,
.cart-list__head .cart-item__cell {
    padding: 0;
}
.cart-item__cell {
    display: inline-block;
    margin-left: 22px;
    padding-top: 26px;
    vertical-align: top;
}
.cart-item__photo {
    width: 135px;
    height: 194px;
    display: block;
    margin: 1px 0;
}
.cart-item__cell_photo, .cart-list__head .cart-item__cell {
    padding: 0;
}
.cart-item__cell_description {
    width: 35%;
    margin-left: 24px;
    text-align: left;
}
.cart-item__cell_price {
    text-align: right;
    line-height: 20px;
}
.cart-item__cell_quantity {
    width: 80px;
    margin-left: 48px;
    text-align: center;
}
.cart-item__cell_total {
    width: 100px;
    margin-left: 6px;
    text-align: right;
}
.cart-item__name, .cart-item__size {
    padding-bottom: 12px;
}
.cart-item__name {
    font-weight: bold;
}
.cart-item__old-price {
    color: #999;
    text-decoration: line-through;
}
.not-touch .change-quantity.button_disabled {
    background: #f6f6f6!important;
    opacity: .6;
}
.cart-item__cell_quantity .change-quantity {
    display: none;
    vertical-align: top;
    margin-top: -5px;
}
.change-quantity {
    display: inline-block;
    width: 25px;
    height: 25px;
    overflow: hidden;
    padding: 0;
    border-radius: 12px;
    -webkit-transition: opacity .6s ease;
    transition: opacity .6s ease;
}
.button_disabled,
.button_disabled.button_active,
.not-touch .button_disabled:hover,
.touch .button_disabled:active {
    cursor: default!important;
    opacity: .6;
}
.change-quantity .button__icon {
    width: 11px;
    height: 12px;
    margin: 0;
    background: url(../data/i/cart_sprite.png) -30px 0 no-repeat;
}
.change-quantity_increase .button__icon {
    background: url(../data/i/cart_sprite.png) -16px 0 no-repeat;
}
.cart-item__quantity {
    margin: 0 3px;
}
.cart-item .remove {
    display: none;
    position: absolute;
    bottom: 20px;
    right: 17px;
}
.cart-separator {
    margin-top: 5px;
    padding: 0;
    background: #fff;
    border-top: 1px solid #eee;
    clear: both;
}
.cart-navigation {
    margin-top: 5px;
    padding: 20px;
    background: #fff;
    height: 70px;
    text-align: left;
}
.cart_empty {
    text-align: center;
    padding: 63px 0;
    background-color: #fff;
    height: 200px;
}
.cart_empty .h2 {
    color: #999;
    margin-bottom: 21px;
}
.cart-total {
    width: 160px;
    float: right;
    text-align: right;
    margin: 20px 20px 20px 0;
}
.cart-total__price {
    position: relative;
    margin-top: 7px;
    padding: 0 0 4px 60px;
}
.cart-total__price-title {
    position: absolute;
    top: 0;
    left: 0;
}
.i_help {
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
    background: url(../data/i/cart_sprite.png) -72px -1px;
    width: 16px;
    height: 16px;
    opacity: .6;
}
.cart-total__price-hint .hint {
    width: 190px;
    left: 50%;
    margin-left: -20px;
    padding: 8px 12px;
    text-align: left;
}
.hint-wrap .hint {
    top: 100%;
    left: 0;
    margin-top: 14px;
}
.cart-navigation__order,
.order_submit {
    float: right;
}
.hint {
    z-index: 10;
    display: block;
    position: absolute;
    top: 14px;
    left: 0;
    padding: 0;
    background: rgba(0,0,0,.8);
    color: #fff;
    box-shadow: 0 1px 8px rgba(0,0,0,.25);
    -webkit-transition: opacity .2s linear;
    -moz-transition: opacity .2s linear;
    -o-transition: opacity .2s linear;
    transition: opacity .2s linear;
    opacity: 0;
}
.hint:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: -9px;
    left: 50%;
    margin: 0 0 0 -9px;
    border-width: 0 9px 9px;
    border-style: solid;
    border-color: rgba(0,0,0,.8) transparent;
    background: 0 0;
}
.order .hint {
    opacity: 1;
    position: relative;
    background: none;
    box-shadow: none;
}
.order .hint:before {
    display: none;
}
.i_help:hover,
.hint.hint-show {
    opacity: 1;
}
.cart-total__price_discount .cart-total__price-val {
    color: #CB2228;
}
.cart-total__price_total {
    font-weight: 700;
}
.cart-item_out {
    color: #999;
}
.cart-item_out .cart-item__photo {
    opacity: .5;
}
.cart-list .cart-item:hover {
    z-index: 2;
    margin: 0 -5px -1px -1px;
    padding-right: 4px;
    border: 1px solid #d9d9d9;
    box-shadow: 0 0 4px #d9d9d9;
}

.button.button_active,
.button.button_in-progress,
.button_in-progress.button_active,
.not-touch .button.button_active:hover,
.not-touch .button.button_in-progress:hover,
.touch .button.button_in-progress:active {
    border-color:#cbc2ab;
    box-shadow:0 0 0 2px rgba(255,215,119,.3),inset 0 1px 4px rgba(0,0,0,.25);
    background:#eee;
    background:-webkit-linear-gradient(top,#fcfcfc,#ececec);
    background:-moz-linear-gradient(top,#fcfcfc,#ececec);
    background:-o-linear-gradient(top,#fcfcfc,#ececec);
    background:linear-gradient(to bottom,#fcfcfc,#ececec)
}
.button_blue.button_active,
.button_blue.button_in-progress,
.button_blue.button_in-progress.button_active,
.not-touch .button_blue.button_active:hover,
.not-touch .button_blue.button_in-progress:hover,
.touch .button_blue.button_in-progress:active {
    border-color:#85364a;
    background:#c37689;
    background:-webkit-linear-gradient(top,#c37689,#9e3c5d);
    background:-moz-linear-gradient(top,#c37689,#9e3c5d);
    background:-o-linear-gradient(top,#c37689,#9e3c5d);
    background:linear-gradient(to bottom,#c37689,#9e3c5d);
}
.button_in-progress .button__progress {
    visibility:visible;
    opacity:1
}
.button_in-progress{
    cursor:default
}
.button__progress {
    z-index: 1;
     visibility: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(../data/i/in-progress.png) 0 0/auto 100% repeat-x;
    -webkit-transition: opacity .4s ease;
    -moz-transition: opacity .4s ease;
    -o-transition: opacity .4s ease;
    transition: opacity .4s ease;
     opacity: 0;
}

.post-cart-add__header {
    width: 100%;
    margin: -20px -20px 0;
    padding: 20px;
}
.post-cart-add__cart-info {
     padding-top: 15px;
}
.post-cart-add__cart .cart-item_added {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding-right: 20px;
}
.post-cart-add__footer {
    margin: 0 -20px;
    padding: 20px 20px 0;
}
.post-cart-add__basket {
    float: right;
}
.post-cart-add__cart {
    margin: 0 -20px;
}
.post-cart-add__close {
    float: left;
    margin-top: 5px;
}
.button_big .button__corner {
    width: 10px;
    height: 30px;
    top: -1px;
    left: -9px;
    /*background: url(../i/controls_icon.png) -175px 0 no-repeat;*/
}
.button_corner-left {
    margin-left: 7px;
}
.new-order {
    padding: 20px 20px 0 20px;
    text-align: center;
}
.order-auth-checkout__login {
    padding-bottom: 10px;
    font-size: 18px;
}
.order-auth-checkout__register label {
    font-size: 14px;
    font-weight: normal;
}
.new-order .row label {
    left: 40px;
    font-weight: normal;
}
.new-order .row {
    margin: 0 0 -10px 0px;
}
.new-order .row .payment,
.new-order .row .order-auth-checkout__register {
    text-align: left;
}
.new-order .row .payment input,
.new-order .row .order-auth-checkout__register input {
    left: 10px;
}
.new-order .row .payment label,
.new-order .row .order-auth-checkout__register label {
    position: relative;
    top: -2px;
    left: -185px;
}

.order-password {
    display: none;
}
.order-form .error{
    font-size: 14px;
    width: auto;
}
.row input.error {
    width: 50%;
}
.order-form .has-error .form-control,
.order-form .form-control.error {
    border-color: #CB2228;
}
.order-form .has-error .help-block,
.order-form .has-error .control-label,
.order-form label.error {
    color: #CB2228;
}
.order-form label.error {
    padding: 0;
}

.customer .row {
    margin: 0 0 -5px 130px;
}
.customer .row label {
    left: -130px;
}
.customer .form__controls {
    padding-left: 130px;
}
.customer .subscribed label {
    margin-left: 150px;
}
.customer .subscribed input {
    margin: 10px 0 10px 0;
}

.lc {
    padding: 20px 0 0 40px;
}
.lc .table__column_left {
    width: 13%;
    padding-top: 20px;
}
.lc .leftside-menu {
    padding-left: 0;
}
.lc .leftside-menu__item {
    margin-bottom: 15px;
    list-style-type: none;
}
.lc a {
    color: #9e3c5d;
    text-decoration: none;
    cursor: pointer;
}
.lc a:hover {
    color: #ff3d00;
    text-decoration: none;
}
.lc h1 {
    margin: -6px 180px 24px -2px;
    font-size: 45px;
    line-height: 45px;
}
.customer .row label {
    font-weight: inherit;
    font-size: 13px;
}
.customer .row button {
    font-size: 13px;
}
.customer .form-group input[type='text'],
.customer .form-group input[type='password'] {
    width: 300px;
    font-size: 13px;
}
.customer .address input[type='text'] {
    width: 98%;
}
.customer .row input {
    display: inline-block;
    position: relative;
    width: auto;
}

.orders {
    font-size: 13px;
}
.orders__cell {
    padding-top: 8px;
    padding-bottom: 8px;
    vertical-align: top;
    text-align: left;
    background: none;
}
.orders__cell_nr {
    width: 140px;
}
.orders__cell_date {
    width: 100px;
}
.orders__cell_dest {
    width: 150px;
}
.orders__cell_price {
    text-align: center;
    width: 130px;
    padding-right: 30px;
}
.order_empty {
    height: 200px;
    color: #999;
}

.history .table__cell {
    font-size: 13px;
}
.order-data__label {
    width: 145px;
    float: left;
    padding: 0 0 0 1px;
    font-weight: 700;
}
.order-data__value {
    margin: 0 0 16px;
    padding: 0 0 0 170px;
}
.order-data__table {
    border-collapse: collapse;
    width: 503px;
    margin-bottom: -4px;
}
.order-data__table-cell {
    vertical-align: top;
    padding: 0 0 9px;
}
.order-data__table-cell_right {
    text-align: right;
}
.order-data__table-row_amount td {
    font-weight: 700;
    font-style: normal;
}
.order-data__table_top-margin {
    margin-top: 26px;
}
.history .account-header {
    position: relative;
    margin: 0 0 24px;
}
.history .cart-item__cell {
    margin-left: 0;
    padding-top: 0;
}
.history .cart-item__cell_description {
    margin-left: 24px;
}

.modal-body.order_modal {
    padding-bottom: 40px;
    font-size: 17px;
    text-align: center;
}
.order_modal p {
    padding: 10px;
}
.basket-button-title:after {
    content: ' Моя корзина';
}
.header__contact_item_right:before {
    content: 'Мы в соцсетях:';
}
.static {
    padding: 40px;
}
.static h1 {
    font-size: 20px;
    text-align: center;
}
.lazy {
    display: none;
}

/* Banner */

.banner {
    background-color: #AC5870;
    display: none;
}
.banner img {
    max-height: 70px;
    width: 100%;
    max-width: 970px;
}

/*

IPad 1024×768, 2048×1536
IPhone 4 640×960
IPhone 5 640×1136
IPhone 6 1334×750
IPhone 6Plus 1920×1080

*/

@media only screen and (max-width: 991px) {

    /*Планшеты в режиме portrait.*/
    .header__inner {
        width: 100%;
        padding-left: 350px;
        margin-left: 310px;
        min-width: 0;
        margin-right: 10px;
    }
    .header__content {
        width: 100%;
    }
    .carousel-caption{
        margin-bottom: 30px;
        border-radius: 50px;
        bottom: 20px !important;
    }
    .banner__title {
        font-size: 20px;
        top: 6px;
    }
    .banner__description {
        font-size: 13px;
        top: 34px;
    }
    .social-likes__widget {
        margin: .1em !important;
        display: inherit !important;
    }
    .social-likes {
        width: auto;
    }
    .contact h1, .order h1 {
        font-size: 33px;
        line-height: 70px;
    }
    .menu .container-fluid {
        width: auto;
    }
    .banners {
        margin-bottom: 0;
    }
    .cart-item__cell,
    .cart-item__cell_description,
    .cart-item__cell_quantity {
        margin-left: 10px;
    }
    .cart-item__cell_total,
    .cart-item__cell_quantity {
        width: 10%;
    }
    .new-order div.content .row {
        margin-left: 0;
    }
    .new-order .row .payment label {
        left: -160px;
    }
    .header__contact_item_right {
        margin-left: 0;
    }
}

/*iPad in portrait & landscape*/
@media only screen and (min-width : 768px) and (max-width : 1023px)  {
    .basket-button-title:after {
        content: '.';
        color: #A54E68;
    }
    .catalog__item {
        width: 33%;
        padding: 6px 13px 0;
    }
}

@media only screen and (max-width: 767px) {

    /*Здесь стили более разумных, но все еще мобильных устройств. Android, iPhone  и так далее.*/
    .header__logo
    {
        position: relative;
        top: 10px;
    }
    .header__inner {
        padding-top: 32px;
        width: 100%;
        float: right;
        margin: 0 10px;
        padding-top: 20px;
        padding-left: 0;
    }
    .page .header .menu
    {
        margin-bottom: 10px;
    }
    .banners__item {
        width: 50%;
    }
    .banner__title {
        font-size: 18px;
        top: 0;
    }
    .banner__description {
        font-size: 14px;
        top: 18px;
    }
    .catalog__item {
        width: 50%;
    }
    .catalog__cont {
        font-size: 20px;
        display: inline-block;
        padding-bottom: 5px;
    }
    .size .button {
        margin-right: 0;
        padding: 0 7px;
    }
    .contact h1, .order h1 {
        font-size: 30px;
        line-height: 50px;
    }
    .form-control{
        padding: 6px 12px !important;
    }
    .carousel-caption h3 {
        font-size: 20px;
        margin-top: 4px;
        margin-bottom: 4px;
    }
    .carousel-caption p {
        margin: 0 0 6px;
        font-size: 12px;
    }
    .menu .container-fluid .menu__list a
    {
        height: 24px;
        padding-top: 0;
    }
    .main .carousel-caption{
        margin-bottom: 20px;
        border-radius: 30px;
        bottom: 10px;
    }
    .main .carousel-indicators {
        bottom: 0 !important;
    }
    .menu .container-fluid .menu__list li {
        display: block;
        width: auto;
    }
    .main .social-likes__widget {
        display: block !important;
    }
    .social-likes {
        width: 100%;
    }
    .contacts-address {
        width: 100%;
    }
    .contacts {
        margin-bottom: 10px;
    }
    .hint {
        float: none;
        margin: 0;
    }
    .new-order .row input {
        display: block;
        width: 100%;
    }
    .navbar-collapse .navbar-nav {
        margin: 5px 0;
    }
    .header__contact_item_right:before {
        content: '';
    }
    .new-order .row label {
        left: -130px;
    }
    .new-order div.content .row {
        margin-left: 120px;
    }
    .new-order .row .payment input {
        left: 0;
        top: 8px;
        width: auto;
    }
    .new-order .row .payment label {
        left: 20px;
        top: -5px;
    }
    .lc .table__column {
        display: block;
        clear: both;
    }
    .lc .table__column_left,
    .lc .table__column_right {
        width: 100%;
    }
    .lc .leftside-menu__item {
        float: left;
        padding-right: 20px;
    }
    .customer .form-group input[type='text'],
    .customer .form-group input[type='password'] {
        width: 100%;
    }
    .lc h1 {
        margin: 0px 0 24px 0;
    }
    .lc {
        padding-left: 20px;
    }
    .history .table__cell {
        padding-left: 0;
    }
    .order-data__table {
        width: 100%;
    }
}

@media only screen and (max-width: 479px) {
    .catalog__dd {
        float: none;
    }
    .catalog__item {
        width: 51%;
    }
    .page .header .menu {
        margin-bottom: 10px;
    }
    .catalog__cont {
        font-size: 14px;
        font-weight: bold;
    }
    .banners__item {
        width: 80%;
        position: relative;
        margin: 0 auto;
    }
    .banners__item {
        float: none;
    }
    .table__column {
        display: block;
    }
    .model  .table__column_left {
        width: 100%;
    }
    .MagicZoomBigImageCont{
        width: 100% !important;
        height: 100% !important;
        left: 0% !important;
    }
    .table__column_right {
        width: 100%;
    }
    .contact h1, .order h1 {
        font-size: 22px;
        line-height: 37px;
    }
    .order h2 {
        font-size: 18px;
    }
    .basket-button-title:after {
         content: '';
     }
    .modal-content .h2 {
        font-size: 18px;
        margin: 0;
        line-height: 25px;
    }
    .cart-item__cell_price {
        text-align: left;
        line-height: 20px;
        padding: 0;
        display: block;
        clear: both;
        margin-bottom: 10px;
    }
    .cart-list__head {
        display: none;
    }
    .cart-item {
        padding: 10px 0;
    }
    .cart-item__cell_description {
        width: 100%;
    }
    .cart-item__cell {
        display: block;
        padding: 0;
    }
    .cart-item__cell_quantity {
        margin-bottom: 5px;
    }
    .order_submit {
        float: none;
        margin-top: 5px;
    }
    .new-order .clear {
        height: 20px;
    }
    .lc {
        padding-left: 5px;
    }
    .history .table__cell .orders__cell {
        padding: 5px;
    }
    .history .orders {
        font-size: 11.5px;
    }
    .lc h1 {
        margin: -6px 180px 24px -2px;
        font-size: 30px;
        line-height: 17px;
        width: 100%;
    }
    .lc h3 {
        font-size: 20px;
    }
    .order-data__value {
        margin: 0 0 5px;
        padding: 0px 0 0 145px;
    }
    .history .cart-item__cell_description {
        margin-left: 0;
    }
}