html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body.main {
    margin: 0;
    font-size: 14px;
    line-height: 1.1;
    font-family: Arial,sans-serif;
}

.page {
    background: #eee;
    min-width: 1060px;
    min-height: 100%;
    margin:0 auto -60px;
}

* html .page {
    height: 100%;
}

.clear {
    height: 60px;
}

.error {
    padding: 30px 0px 90px 64px;
    width: 700px;
    font-size: 16px;
}

.error h1 {
    font-size: 48.5px;
    letter-spacing: -3px;
    font-weight: 700;
    margin-bottom: 30px;
}


.error h2 {
    font-size: 48.5px;
    letter-spacing: -3px;
    color: rgba(0, 0, 0, .2);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
    margin-bottom: 20px;
}

.header
{
    display: inline-block;
    min-width: 100%;
    background: #eee;
    text-align: center;
    margin-bottom: 0px;
}

.footer {
    padding: 20px;
    font-size: 0.8em;
    text-align: center;
    background: #eee;
}

.page .header .menu
{
    z-index: 11;
    display: block;
    width: 100%;
    min-width: 960px;
    height: 30px;
    position: relative;
    background: #ad231f;
    white-space: nowrap;
    text-align: right;
    min-height: 20px;
    border: 0px;
}

.menu .container-fluid
{
    width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    background: #ad231f;
    text-align: left;
    height: inherit;
}

.menu .container-fluid .menu__list a
{
    height: 30px;
    padding: 6px 38px 7px;
    color: #fff;
}

.menu .container-fluid .menu__list .active a, .menu .container-fluid .menu__list .active a:hover
{
    background-color: #c54743;
    color: #fff;
}

.menu .container-fluid .menu__list a:hover
{
    color: #fff;
    background-color: #8d5b62;
}

.menu .container-fluid .menu__list .open a.dropdown-toggle
{
    color: #fff;
    background-color: #8d5b62;
}

.menu .container-fluid .menu__list .dropdown-menu a
{
    color: #000000;
}

.menu .container-fluid .menu__list .dropdown-menu a:hover
{
    color: #ff3d00;
    background-color: #ffffff;
}

.banner__title, .banner__description {
    width: 100%;
    position: absolute;
    top: 6px;
    left: 0;
    text-align: center;
    font: 22px Arial;
    color: #000;
}

.banner__description {
    top: 34px;
    font: 15px Arial;
    color: #000;
}

.banner__link:hover .banner__title {
    color: #ff3d00;
}

.banner__link:hover .banner__description {
    color: #ff3d00;
}

.carousel-inner>.item>img {
    width: 940px;
    height: 400px;
}

.panel-title>a {
    top: 6px;
    left: 0;
    text-align: center;
    font: 22px Arial;
    color: #000;
}

.panel-title>a:hover {
    color: #ff3d00;
    text-decoration: none;
}

.panel {
    border: 0px !important;
    box-shadow: none !important;
}

.panel-group .panel-heading+.panel-collapse .panel-body {
    border-top: 0px !important;
}

.panel-group {
    margin-bottom: 0px !important;
}

.header__content
{
    z-index: 12;
    display: inline-block;
    min-height: 91px;
    position: relative;
}

.header__logo
{
    display: block;
    position: absolute;
    top: 20px;
    left: 20px;
    width: 171px;
    height: 56px;
    background: url('../data/i/logo.png') 0 0 no-repeat;
}

.header__inner {
    display: table;
    min-width: 670px;
    margin: 0 20px 0 248px;
    padding-top: 32px;
}

.header__phone {
    display: table-cell;
    min-width: 230px;
    height: 24px;
    padding-top: 6px;
    vertical-align: top;
    text-align: center;
    font-size: 15px;
    line-height: 17px;
    padding-left: 90px;
}

.header__phone-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: -6px 4px 0 0;
    vertical-align: top;
    background: url('../data/i/phone.png') 0 0 no-repeat;
}

.header__socials {
    display: table-cell;
    min-width: 230px;
    height: 24px;
    padding-top: 6px;
    vertical-align: top;
    text-align: right;
    font-size: 15px;
    line-height: 17px;
}

.header__social-item {
    display: inline-block;
    width: 23px;
    height: 23px;
    margin: -5px 0 0 7px;
    vertical-align: top;
    background: url('../data/i/socials.png') 0 0 no-repeat;
}

.header__social-item_vk:hover {
    background-position: 0 -26px;
}

.header__social-item_ok {
    background-position: -26px 0;
}

.header__social-item_ok:hover {
    background-position: -26px -26px;
}

.content {
    width: 960px;
    margin: 0 auto;
    background-color: #fff;
}

.banners {
    background: #fff;
    padding: 10px;
    margin-bottom: 5px;
    overflow: hidden;
}

.banners__item {
    width: 306px;
    height: 379px;
    float: left;
    margin-right: 0;
    position: relative;
}

.item__first {
    margin-right: 11px;
}

.item__last {
    float: right;
}
.catalog {
    padding-left: 12px;
}

.catalog__item {
    display: inline-block;
    width: 225px;
    margin: 0 9px 10px 0;
    position: relative;
    vertical-align: top;
    background: #fff;
}

.catalog__item__link {
    cursor: pointer;
    color: #000;
    display: block;
    z-index: 2;
    position: relative;
}

.catalog__item__link:hover {
    text-decoration: none;
}

.item__label {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    display: inline-block;
    line-height: 17px;
    background: #ff3d00;
    border-radius: 3px;
    padding: 0 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.15);
    text-shadow: 0 -1px 0 rgba(0,0,0,.2);
    color: #fff;
    font-family: Arial;
    font-size: 11px;
    letter-spacing: .09em;
}

.item__label_new {
    padding: 0 5px;
    background: #3AA73A;
}

.catalog__item__img {
    display: block;
    width: 225px;
    height: 300px;
    position: relative;
    z-index: 1;
}

.catalog__item__article {
    color: #999;
    margin: 8px 0 0;
    line-height: 17px;
    position: relative;
    z-index: 1;
}

.catalog__item__link:hover .catalog__item__article {
    color: #ff3d00;
    font-weight: 700;
}

.catalog__item .price {
    z-index: 2;
    line-height: 17px;
}

.price {
    font-weight: 700;
    color: #000;
    position: relative;
    z-index: 1;
}

.price__old {
    text-decoration: line-through;
    color: #999;
    font-weight: 400;
    margin-right: .3em;
}

.price__new {
    color: #ff3d00;
    white-space: nowrap;
}

.catalog__head {
    padding-right: 20px;
    padding-left: 20px;
    margin-left: -20px;
    border-bottom: 5px solid #eee;
    margin-bottom: 10px;
    padding-top: 5px;
}

.catalog__sort {
    float: right;
    margin-top: 5px;
}

.catalog__cont {
    font-size: 22px;
    font-weight: 400;
    margin: 5px 0;
    color: #27292c;
    line-height: 30px;
}

.catalog__sort .dropdown-toggle, .form button.btn-default {
    height: 25px;
    background: linear-gradient(to bottom,#fff,#efefef);
    border: 1px solid #d5d5d5;
    border-top-color: #ddd;
    border-radius: 3px;
    padding: 0 8px;
}

.order_menu .dropdown-menu>li>a:hover{
    background-color: #8d5b62 !important;
    color: #ffffff !important;
}

.order_menu .dropdown-menu>li.active>a{
    background-color: #ddd;
    color: #000;
}

.table__column {
    display: table-cell;
    vertical-align: top;
    height: 100%;
}

.table__column_left {
    width: 360px;
}

.table__column_right {
    width: 600px;
}

.model {
    table-layout: fixed;
    display: table;
    height: 100%;
    width: 970px;
    border-spacing: 5px 0;
    margin: -5px 0 -5px -5px;
    background: #eee;
}

.model__img {
    display: block;
    width: 360px;
    height: 480px;
    position: relative;
    z-index: 1;
}

.model_title {
    border: 1px solid #eee;
    border-width: 0 1px 1px 0;
    padding: 20px 16px 20px 20px;
    overflow: hidden;
}

.table__table {
    table-layout: fixed;
    display: table;
    height: 100%;
    width: 100%;
    border-spacing: 0 5px;
    background: #eee;
}

.table__row {
    display: table-row;
    background-color: white;
}

.table__cell {
    display: table-cell;
    padding: 20px 16px 20px 20px;
    width: 100%;
    background-color: #fff;
}

.table__cell_flat {
    padding: 0;
}

.model_photo {
    position: relative;
}

.model_header {
    padding: 20px 16px 20px 20px;
    overflow: hidden;
}

.model_header__title {
    font-weight: 400;
    margin: 0;
    color: #27292c;
    margin: -10px 0 0;
}

.model_header__title-name {
    color: #8d5b62;
    font-size: 24px;
    line-height: 30px;
}

.model_header__title-article {
    font-size: 13px;
    line-height: 17px;
}

.model_detail {
    padding: 20px 16px 20px 20px;
    position: relative;
    min-height: 148px;
}

.model__price {
     margin: 0 0 20px 0;
}

.size {
    margin-bottom: 20px;
}

.size__title {
    font-size: 20px;
}

.size .button {
    margin-left: 5px;
    cursor: default;
}

.size__table-link {
    display: inline-block;
    vertical-align: top;
    padding: 0;
    color: #8d5b62;
    font-size: 17px;
}

.size__table-link:hover {
    text-decoration: none;
    color: #ff3d00;
}

.button {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    height: 25px;
    position: relative;
    margin: 0;
    padding: 0 8px;
    border: 1px solid #d5d5d5;
    border-top-color: #ddd;
    border-bottom-color: #cdcdcd;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
    -moz-box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
    box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
    background: #f5f5f5 url('../data/i/controls-bg.png') 0 -274px repeat-x;
    font: 13px/23px Arial,Helvetica,sans-serif;
    line-height: 23px;
    text-decoration: none;
    cursor: pointer;
    overflow: visible;
    outline: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-appearance: none;
}

.size-chooser__list .button {
    min-width: 33px;
    text-align: center;
    margin: 0 10px 10px 0;
    vertical-align: top;
    padding: 0;
}

.price_model {
    font-size: 22px;
    font-weight: 400;
}

.button.button_pressed {
    height: 25px;
    border-color: #d7852b #eb912f #ff9e34;
    -webkit-box-shadow: inset 0 2px 4px 0 rgba(0,0,0,.2);
    -moz-box-shadow: inset 0 2px 4px 0 rgba(0,0,0,.2);
    box-shadow: inset 0 2px 4px 0 rgba(0,0,0,.2);
    background: #ff9e34;
    color: #fff;
}

.model_desc {
    min-height: 195px;
}

.breadcrumbs {
    margin-bottom: 5px;
    background: #fff;
    font-size: 13px;
    line-height: 16px;
    white-space: nowrap;
    overflow: hidden;
}

.breadcrumbs__item:link {
    background: url('../data/i/breadcrumbs_link.png') no-repeat 100% 0;
}

.breadcrumbs__item {
    display: inline-block;
    position: relative;
    margin-right: -10px;
    padding: 7px 25px 7px 18px;
    vertical-align: top;
    color: #bbb;
}

a.breadcrumbs__item:hover {
    text-decoration: none;
    color: #ff3d00;
}

.modal-content table {
    width: 100%;
    margin-bottom: 20px;
    border-spacing: 0;
    border-collapse: collapse;
}

.modal-content th {
    text-align: left;
}

.modal-content th, .modal-content td {
    vertical-align: middle;
    border-bottom: 1px solid #999;
    color: #474747;
    padding: 10px;
    font-size: 12px;
}

.modal-content table thead th {
    color: #fff;
    background-color: #666;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    border-left: 1px #999 solid;
}

.modal-content .h2 {
    font-size: 22px;
    font-weight: 400;
    margin: 0 0 15px 0;
    color: #27292c;
    line-height: 30px;
    margin-top: -5px;
}

#size_tab .modal-dialog {
    width: 800px;
}

.modal-content td {
    border-left: 1px solid #999;
    text-align: center;
}

.one_size, .modal-content tr.size-tab__select th, .modal-content tr.size-tab__select td, .modal-content td.size-tab__select {
    background-color: #f5f5f5;
    font-weight: 700;
}
.contact, .order {
    padding: 40px;
}

.contacts {
    display: inline-block;
    vertical-align: top;
    width: 323px;
    margin: 0 44px 41px 0;
}

.contacts-address {
    width: 410px;
    margin: 0 85px 27px 0;
}

.contacts-time {
    width: 320px;
    margin: 0 0 27px 0;
}

.contacts__title {
    font-weight: 700;
    line-height: 27px;
}

.gis_map {
    width:800px;
    height:300px;
    margin-bottom: 21px;
  }

.contact h1, .order h1 {
    color: #27292c;
    font-size: 37px;
    margin: -26px 0 26px;
    border-bottom: 5px solid #8d5b62;
    line-height: 100px;
}

.order h3 {
    font-size: 22px;
    margin: 15px 0;
}

.price-button {
    float: right;
    width: 300px;
    cursor: pointer;
    margin-top: 43px;
    margin-right: 15px;
}

.list__item:before {
    content: '\2014\a0';
}

.list {
    margin: 0 0 17px 0;
    padding: 0;
    list-style: none;
}

.list__item {
    padding-left: 18px;
    text-indent: -17px;
    margin-bottom: 7px;
}

.order {
    font-size: 13px;
    line-height: 1.35;
    font-family: Arial,sans-serif;
}

.hint {
    float: right;
    margin-top: 43px;
    margin-right: 15px;
}

.hint-link {
    cursor: pointer;
}

.hint__icon-shipping {
    width: 60px;
    height: 60px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    background: url('../data/i/shipping.png') no-repeat 100% 0;
}

.hint__icon-price {
    width: 60px;
    height: 60px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    background: url('../data/i/price.png') no-repeat 100% 0;
}

.hint__title {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    color: #999;
    font-size: 14px;
}

.hint-link:hover>div.hint__icon-price {
    background-position: 0 -60px;
}

.hint-link:hover>.hint__title {
    color: #ff3d00;
    text-decoration: none;
}

a.link {
    color: #8d5b62;
}

a.link:hover {
    color: #ff3d00;
    text-decoration: none;
}

.row {
    position: relative;
    margin: 0 0 -10px 120px !important;
}

.row label {
    position: absolute;
    top: 10px;
    left: -120px;
    font-weight: 700;
}

.row input {
    display: inline-block;
    position: relative;
    width: 300px;
}

.row textarea {
    width: 500px;
}

.form-control:focus {
    border-color: #ff905b !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 130, 87, 0.60) !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 159, 125, 0.60) !important;
}

div.form span.required {
    color: #ff3d00 !important;
    padding: 0 2px;
}

div.form input, div.form textarea, div.form select {
    margin: 0.2em 0 0.5em 0;
}

.has-error div.help-block {
    padding: 0;
    font-size: 13px;
}

.has-error label.error {
    padding: 0;
}